body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background: url("/static/image/bg.png") no-repeat;
    background-size: cover;
}

.leftTop {
    grid-area: leftTop;
}

.page_title {
    grid-area: page_title;

    background: url("/static/image/headBg.png") no-repeat;
    background-size: contain;
    user-select: none;

    text-align: center;
}

.page_title p {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Microsoft JhengHei UI", sans-serif;
    color: white;
}


.basic_info {
    color: #f1f1f1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "info-district info-village info-house"
    "info-district info-village info-house"
    "info-district info-village info-house";
    grid-area: basic_info;

    font-size: 25px;
    font-family: "Microsoft JhengHei UI", sans-serif;
    /*font-weight: bold;*/
    text-align: center;
    align-items: center;
    user-select: none;
}

@font-face {
    font-family: "digital";
    src: url("/static/font/HFDigits.ttf");
    /*src: url("/static/font/FX-LED-04b6323b.ttf");*/
}

.basic_info p {
    font-family: digital, sans-serif;
    font-size: 30px;
}

.info-district {
    grid-area: info-district;
}

.info-village {
    grid-area: info-village;

}

.info-house {
    grid-area: info-house;

}

.info_count {
    color: goldenrod;
    font-weight: bold;
    margin-bottom: 10px;

}


#main {
    vertical-align: center;
    grid-area: main;
    /*margin: 15px;*/
}

#content {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6, minmax(260px, 1fr));
    grid-template-rows: repeat(7, minmax(100px, 1fr));
    gap: 0px 0px;
    grid-template-areas:
    "leftTop page_title page_title page_title page_title ."
    "chart1 chart1 basic_info basic_info chart4 chart4"
    "chart1 chart1 main main chart4 chart4"
    "chart2 chart3 main main chart5 chart5"
    "chart2 chart3 main main chart5 chart5"
    ". . . .  . ."
    ". . . . . .";
    transition: 0.5s;
}

.chart {
    background: rgba(54, 71, 95, 0.2);
    border-image-source: radial-gradient(65% 70%, transparent 0px, transparent 100%, cyan 100%);
    border-image-slice: 1;
    border-width: 1px;
    border-style: solid;
}


#chart1 {
    grid-area: chart1;
    margin: 0 0 0 15px;
}

#chart2 {
    grid-area: chart2;
    margin: 15px 0 0 15px
}

#chart3 {
    grid-area: chart3;
    margin: 15px 0 0 15px;
}

#chart4 {
    grid-area: chart4;
    margin: 0 15px 0 0;
}
#chart5 {
    grid-area: chart5;
    margin: 15px 15px 15px 0;
}
