<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    {#阻止请求附带referrer信息, 以便于显示外链图片#}
    <meta name="referrer" content="no-referrer"/>
    <link
            rel="icon"
            type="image/png"
            href="{{ url_for('static', filename='image/favicon.png') }}"
    />
    <title>{% block title %}{% endblock %}</title>
    {% block additional_files %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
{% block navbar %}
    <!--侧栏界面设计-->
    <div
            class="offcanvas offcanvas-start"
            tabindex="-1"
            id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel"
    >
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                租房网站数据可视化平台
            </h5>
            <button
                    type="button"
                    class="btn-close text-reset"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"
            ></button>
        </div>
        <div class="offcanvas-body">
            <div class="dropdown mt-3">
                <ul>
                    <li id="index"><img src="{{ url_for('static', filename='image/首页.png') }}" alt=""><a href="{{ url_for('index') }}">首页</a></li>
                    <li id="house_list"><img src="{{ url_for('static', filename='image/房源列表.png') }}" alt=""><a href="{{ url_for('list_page.house_list') }}">房源列表</a></li>
                    <li id="detail"><img src="{{ url_for('static', filename='image/小区详情.png') }}" alt=""><a href="{{ url_for('detail.house_detail') }}">小区详情</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
<div id="content">{% block content %} {% endblock %}</div>

</body>
</html>
