{% extends 'base.html' %}
{% block additional_files %}
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap-5.0.2-dist/css/bootstrap.css') }}">
{#    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap-5.0.2-dist/css/bootstrap-select.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/bootstrap-5.0.2-dist/js/bootstrap.js') }}"></script>
{#    <script type="text/javascript" src="{{ url_for('static', filename='plugins/bootstrap-5.0.2-dist/js/bootstrap-select.js') }}"></script>#}
    <script type="text/javascript" src="{{ url_for('static', filename='js/detail.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/echarts.js') }}"></script>
{% endblock %}
{% block title %}小区详情{% endblock %}
{% block content %}
    <div class="leftTop">
        <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">&#9776; OPEN</a>
    </div>
    <div class="select">
        <div class="tip">请选择需要查询的小区</div>
        <div class="select_wrap">
            <select class="form-select selectpicker" name="city_select" id="city_select">
                {% if city %}
                    <option selected value="{{ city }}">{{ city }}</option>
                {% else %}
                    <option selected value="">城市</option>
                {% endif %}
                {% for city in city_list %}
                    <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select>
            <select class="form-select selectpicker" name="district_select" id="district_select" disabled>
                {% if district %}
                    <option selected value="{{ district }}">{{ district }}</option>
                {% else %}
                    <option selected value="">区县</option>
                {% endif %}

            </select>
            <select class="form-select selectpicker" name="village_select" id="village_select" disabled>
                {% if village_name %}
                    <option selected value="{{ village_name }}">{{ village_name }}</option>
                {% else %}
                    <option selected value="">小区</option>
                {% endif %}
            </select>
            <button class="req_btn" onclick="getVillageInfo()">查询</button>
        </div>
    </div>
    <div class="charts">
        <div id="charts_wrap" class="charts_wrap">
            <div class="title"><p>租金分布情况</p></div>
            <div class="chart">
                <div id="chart1"></div>
                <div class="desc">
                    <p>
                        当前小区租金最高的房源是：<br><div id="max_price_house"></div>
                    <br>
                        租金最低的房源是：<br><div id="min_price_house"></div>
                    </p>
                </div>
            </div>
            <div class="title"><p>户型分布情况</p></div>
            <div class="chart">
                <div id="chart2"></div>
                <div class="desc">
                    <p>
                        当前小区房源数量最多的户型是：<br><div id="max_house_type"></div>
                        同类户型房源共有：<span id="max_house_count"></span>个
                    </p>
                </div>
            </div>
            <div class="chart" style="margin-top: 30px; height: 250px">
                <div id="chart3"></div>
                <div id="chart4"></div>
            </div>
        </div>
    </div>
{% endblock %}